.mainContainer {
  min-height: 100vh;
  background-color: #000000;
}

.main-img {
  width: 100%;
}

.video-section {
  padding: 40px;
  padding-top: 20px;
}

.movie-heading {
  color: #ffffff;
  margin-top: 25px;
}
